body {
    color: rgb(82, 78, 78);
    font-size: 20px;
    
    margin-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;

}


img {
    margin-left: 400px;
}

h1 {
    color: rgb(0, 0, 0);
    margin-left: 400px;
}

h2 {
    margin-left: 400px;
}

ul {
    margin-left: 400px;
    font-size: 14px;
}

.margin40 {
    margin-left: 70px;
}
h3 {
    margin-left: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
}