.container1 {
    background-color: red;
    width: 180px;
    height: 100px;
    padding: 50px;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 15px;
    border-color: green;
    
    
    
}
.container2 {
    background-color: yellow;
    width: 180px;
    height: 100px;
    padding: 50px;
    position: relative;
    left: 340px;
    bottom: 230px;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 15px;
    border-color: red;
}

.container3 {
    background-color: green;
    width: 180px;
    height: 100px;
    padding: 50px;
    position: relative;
    left: 680px;
    bottom: 460px;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-width: 15px;
    border-color: yellow;
}
p {
    color: blue;
}